body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.space-header {
  background-color: #0c1442;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.space-nav {
  background-color: black; /* Изменено на черный */
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.space-nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.space-nav a:hover {
  text-decoration: underline;
}

.space-main {
  padding: 20px 0;
}

.space-blog-section {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.space-blog-post {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.space-footer {
  background-color: #0c1442;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
